<nav class="col-sm-3 col-md-2 admin-nav">
    <div class="inverse nav-title">
        <span>Picasso</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "IMS" }, new { })</li>
    </ul>
    <div class="inverse nav-title">
        <span>Customers</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "IMS" }, new { })</li>
        <li>@Html.ActionLink("Orders", "Index", "Customers", new { area = "IMS" }, new { })</li>
    </ul>
    <div class="inverse nav-title">
        <span>Artwork</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Artwork", "Index", "Artwork", new { area = "IMS" }, new { })</li>
        <li>@Html.ActionLink("Artists", "Index", "Artists", new { area = "IMS" }, new { })</li>
    </ul>
    <div class="inverse nav-title">
        <span>Staff</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Staff", "Index", "Staff", new { area = "IMS" }, new { })</li>
    </ul>
</nav>

