<nav class="col-sm-3 col-md-2 admin-nav">
    <div class="inverse nav-title">
        <span>Picasso CMS</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Homepage", "Index", "Dashboard", new { area = "IMS" }, new { })</li>
    </ul>
    <div class="inverse nav-title">
        <span>Navigation Bar</span>
    </div>
    <ul>
        <li>@Html.ActionLink("Genres", "Index", "Genres", new { area = "CMS" }, new { })</li>
        <li>@Html.ActionLink("Mediums", "Index", "Mediums", new { area = "CMS" }, new { })</li>
        <li>@Html.ActionLink("Artists", "Index", "Artists", new { area = "CMS" }, new { })</li>
    </ul>
    @*<div class="inverse nav-title">
            <span>Artwork</span>
        </div>
        <ul>
            <li>@Html.ActionLink("Artwork", "Index", "Artworks", new { area = "IMS" }, new { })</li>
            <li>@Html.ActionLink("Artists", "Index", "Artists", new { area = "IMS" }, new { })</li>
        </ul>
        <div class="inverse nav-title">
            <span>Staff</span>
        </div>
        <ul>
            <li>@Html.ActionLink("Staff", "Index", "Staff", new { area = "IMS" }, new { })</li>
        </ul>*@
</nav>

